/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  background-color: #000;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

/* Container */
.login-container {
  text-align: center;
  width: 300px;
}

/* Logo */
.logo img {
  width: 50px;
  margin-bottom: 20px;
}

/* Heading */
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Form */
.login-form {
  display: flex;
  flex-direction: column;
}

/* Labels */
.login-form label {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
}

/* Inputs */
.login-form input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
}

/* Password Container */
.password-container {
  position: relative;
}

.password-container input {
  width: 100%;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-password img {
  width: 20px;
  filter: invert(100%);
}

/* Button */
.login-button {
  padding: 10px;
  background-color: #1DB954;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #1aa34a;
}
